html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

form label {
    font-weight: bold;
}

.form-control {
    border: 1px solid black;
    border-radius: 25px;
    padding: 8px;

}

.botonBorder {
    border: 1px solid black;
    border-radius: 25px;
    padding: 8px;
    color: black;
    font-weight: bold;
    width: 150px;
}

h5 {
    font-weight: bold;
    text-align:center;
}

#FormularioLogin {
    border: 1px solid #dedede;
    border-radius: 1em;
   
    padding: 1em;
    -webkit-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.21);
    box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.21);
}

#BotonCerrar {
    font-size: 15px;
}