@model LogiSync.Models.Personal

@{
    ViewData["Title"] = "RegistroPersonal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-7">
        <img src="~/img/LogoPNG.png" alt="Logo" width="580" height="580"/>
    </div>
    <div class="col-md-4 mt-4">
        <h5>Agregar personal</h5>
        <form asp-action="RegistroPersonal" class="m-3">
         <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         <div class="form-group mt-1">
            <label asp-for="Cedula" class="control-label"></label>
            <input asp-for="Cedula" class="form-control inputBorder" />
            <span asp-validation-for="Cedula" class="text-danger"></span>
         </div>
            <div class="form-group mt-1">
            <label asp-for="Nombre" class="control-label"></label>
            <input asp-for="Nombre" class="form-control inputBorder" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
          </div>
            <div class="form-group mt-1">
             <label asp-for="Email" class="control-label"></label>
             <input asp-for="Email" class="form-control inputBorder" />
             <span asp-validation-for="Email" class="text-danger"></span>
          </div>
            <div class="form-group mt-1">
             <label asp-for="Departamento" class="control-label"></label>
             <input asp-for="Departamento" class="form-control inputBorder" />
             <span asp-validation-for="Departamento" class="text-danger"></span>
          </div>
          <div class="form-group mt-1">
             <label asp-for="Telefono" class="control-label"></label>
             <input asp-for="Telefono" class="form-control inputBorder" />
             <span asp-validation-for="Telefono" class="text-danger"></span>
          </div>
          <div class="form-group mt-3 d-flex justify-content-center">
             <button type="submit" class="btn btn-success botonBorder" style="margin-right: 10px">Enviar</button>
             <a asp-controller="Home" asp-action="Index" class="btn btn-warning botonBorder">Cancelar</a>
          </div>

            @if (TempData["PersonalError"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show mt-2" style="font-size:13px; margin:auto" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                    <strong>@TempData["PersonalError"]</strong>
                </div>
            }

          </form>
    </div>
    <div class="col-md-1">
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
